<button type="button" class="btn btn-success" [routerLink]="['add']">Add New</button>
<br/>
<br/>
<div>
    <input type="text" [(ngModel)]="searchData" />
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>Postal Code</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of employees |search:searchData">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.address.city}}</td>
            <td>{{item.address.address1}}</td>
            <td>{{item.address.address2}}</td>
            <td>{{item.address.postalCode}}</td>
            <td>

                <button type="button" class="btn btn-success" (click)="editEmployeeDetails(item.id)">edit</button>

            </td>


        </tr>
        <tr *ngIf="employees.length==0">
            <td colspan="8">No Record Found</td>
        </tr>
    </tbody>
</table>