<div class="navbar navbar-default">
    <a class="navbar-brand" [routerLink]="['']">Home</a>
    <ul class="nav navbar-nav">
        <li routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
            <a [routerLink]="['']">Task3</a>
        </li>
        <li routerLinkActive='active'>
            <a [routerLink]="['task2']">Task2</a>
        </li>
        <li routerLinkActive='active'>
            <a [routerLink]="['task1']">Task1</a>
        </li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>