<h2>New Employee</h2>
<hr>
<form class="form-horizontal" #employeeForm="ngForm" [formGroup]="employeeFromGroup" (ngSubmit)="SaveData(employeeForm)">
    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">Name</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="name" [formControl]="employeeFromGroup.controls['name']" class="form-control" />
            <p *ngIf="employeeFromGroup.controls['name'].errors && (employeeForm.submitted || employeeFromGroup.controls['name'].dirty)" class="text-danger">
                <span [hidden]="!employeeFromGroup.controls['name'].hasError('required')">Please Enter Name</span>
                <span [hidden]="!employeeFromGroup.controls['name'].hasError('minlength')">Name must have four chars</span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">Phone No.</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="phone" [formControl]="employeeFromGroup.controls['phone']" class="form-control" />
            <p *ngIf="employeeFromGroup.controls['phone'].errors && (employeeForm.submitted || employeeFromGroup.controls['phone'].dirty)" class="text-danger">
                <span [hidden]="!employeeFromGroup.controls['phone'].hasError('required')">Please Enter Phone No.</span>
                <span [hidden]="!employeeFromGroup.controls['phone'].hasError('pattern')">Please Enter Number Only</span>
            </p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">City</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="city" [formControl]="employeeFromGroup.controls['address'].controls['city']" class="form-control" />

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">Address1</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="adress1" [formControl]="employeeFromGroup.controls['address'].controls['address1']" class="form-control" />

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">Address2</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="adress2" [formControl]="employeeFromGroup.controls['address'].controls['address2']" class="form-control" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label for="Name">Postal Code</label>
        </div>
        <div class="col-sm-10">
            <input type="text" name="postalCode" [formControl]="employeeFromGroup.controls['address'].controls['postalCode']" class="form-control" />

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>