<button type="button" class="btn btn-success" [routerLink]="['']">Home</button>
<br/>
<br/>
<div>
    <input type="text" [(ngModel)]="searchEmployeeData" />
</div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>Postal Code</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of employees |search:searchEmployeeData">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <app-phone-validate [myNumber]="item.phone"></app-phone-validate>
            </td>
            <td>{{item.address.city}}</td>
            <td>{{item.address.address_line1}}</td>
            <td>{{item.address.address_line2}}</td>
            <td>{{item.address.postal_code}}</td>
        </tr>

    </tbody>
</table>